main .container {
  background-color: lightgray;

}

main .tweet-form {
  width: 100%;

  font-family: sans-serif;
}

main .tweet-text {
  width: 100%;
  border: none;
  border-bottom: 4px solid black;
}

main .form-input {
  background-color: #4056A1;
  border: none;
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 25px;
}

main .counter {
  float: right;
  font-size: 25px;
  font-weight: bold;
  color: black
}

main .tweet-container {
  transition: box-shadow .5s;
  margin: 50px;
  border: 2px solid black;
  padding: 60px;
}

main .tweet-container:hover {
  box-shadow: 10px 10px rgba(33, 33, 33, .2);
}

main .tweet-header {
  background: none;
  width: 100%;
  height: 100px;
}

main .tweet-article {
  width: 100%;
  border-bottom: 4px solid black;
  text-align: center;
  font-size: 25px;
  color: black;
}



.fa-flag:hover {
 
  color: goldenrod !important;
}

.fa-heart:hover {

  color: red !important;
}

.fa-retweet:hover {
 
  color: blue !important;
}